$icon-font-path: '../fonts/';

// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// -----------custom-----------
.dropdown-menu {
    .active {
        background-color: $brand-success;
        color: #fff;
    }
}
.table {
    // Cells
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                vertical-align: middle;
            }
        }
    }
}
.page-size-dropdown {
    margin-bottom: 16px;
}
.cy-loading {
    text-align: center;
}
.icon-spin {
    animation: icon-spin 2s infinite linear;
}
@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}