.cy-table {
    table.cy-table-content {
        margin: 20px 0;
        th {
            user-select: none;
            touch-callout: none;
            &.sortable {
                cursor: pointer;

                div {
                    padding-right: 18px;
                    position: relative;
                    &:after, &:before {
                        content: "";
                        border-width: 0 4px 4px;
                        border-style: solid;
                        border-color: #000 transparent;
                        visibility: visible;
                        right: 8px;
                        top: 50%;
                        position: absolute;
                        opacity: .3;
                        margin-top: -4px;
                    }
                    &:before {
                        margin-top: 2px;
                        border-bottom: none;
                        border-left: 4px solid transparent;
                        border-right: 4px solid transparent;
                        border-top: 4px solid #000;
                    }
                }

                div:hover:after, div:hover:before {
                    opacity: 1;
                    visibility: visible;
                }
                &.sort-desc, &.sort-asc {
                    background-color: rgba(141, 192, 219, 0.25);
                    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);

                    div:after {
                        margin-top: -2px;
                    }
                    div:before {
                        visibility: hidden;
                    }
                }
                &.sort-asc div:after, &.sort-asc div:hover:after {
                    visibility: visible;
                    opacity: 0.6;
                }
                &.sort-desc div:after {
                    border-bottom: none;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-top: 4px solid #000;
                    visibility: visible;
                    box-shadow: none;
                    opacity: 0.6;
                }
            }
            &.filter {
                .input-filter {
                    display: block;
                    width: 100%;
                    margin: 0;
                    min-height: 30px;
                    box-sizing: border-box;
                }
            }
        }
    }
}